<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout rows="auto,*,auto" class="bg_general">
	<StackLayout class="gradientBlue p-l-20">
		<GridLayout rows="auto" columns="auto,auto,*,auto" class="m-t-10 p-t-20 p-b-12">
			<Image col="0" src="~/images/back.png" class="iconBack" (tap)="irAtras()"></Image>
	        <Image col="1" [src]="imagen" class="imgChat m-l-20"></Image>
	        <Label col="2" class="p-l-15" color="#ffffff" fontSize="18" verticalAlignment="center" horizontalAlignment="left" textWrap="true" [text]="nombre"></Label>
			<Image col="3" src="res://tel" class="iconCall"></Image>
	    </GridLayout>		
	</StackLayout>

    <ListView #listview [items]="mensajes" row="1">
	    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
	    	<GridLayout class="mensajeChat" rows="auto,auto" columns="auto,*" width="100%">
	    		<Image src="~/images/bolaChatSP.png" class="bolaChat" col="0" row="0" rowSpan="2" visibility="{{ item.de != proveedor ? 'visible' : 'collapsed' }}"></Image>

	    		<Image src="~/images/bolaChatUS.png" class="bolaChat" col="0" row="0" rowSpan="2" visibility="{{ item.de == proveedor ? 'visible' : 'collapsed' }}"></Image>

	    		<Label col="1" row="0" class="fechaMensaje" [text]='item.fecha | date: "MMMM d, y, h:mm a" | titlecase' textWrap="true" verticalAlignment="bottom"></Label>
	    		<Label col="1" row="1" class="textoMensaje font-weight-bold" [text]='item.mensaje' textWrap="true" verticalAlignment="top"></Label>
	    	</GridLayout>
	    </ng-template>
	</ListView>

    
    <!-- YOUR BOTTOM BAR (StackLayout). Don't forget to add row="1" -->
    <StackLayout #bottomElt row="2" backgroundColor="#ffffff">
        <GridLayout class="contInputChat"  rows="auto" columns="*,auto" width="100%">
        	<TextField #mensajeInput class="inputChat" borderRadius="30" borderColor="red" backgroundColor="white" width="85%" col="0" hint="Mensaje" autocorrect="false" [(ngModel)]="mensaje" returnKeyType="send" (returnPress)="onReturn(mensajeInput.text)"></TextField>

        	<Button col="1" class="btn right-gradient" text="Enviar" (tap)="enviarMensaje()"></Button>

        </GridLayout>
        
    </StackLayout> 
</GridLayout>