<ActionBar>
    <Label text="Login Component"></Label>
</ActionBar>

<!-- <StackLayout>
    <Label text="Logged in!"></Label>
    <Button text="Go To Welcome Page" (tap)="onNavigateWelcome()"></Button>
</StackLayout> -->
<GridLayout rows="auto, auto,auto" class="bg_general p-15">
	<StackLayout row="0" class="m-t-30 p-5">
		<Image src="~/images/logo.png"></Image>		
	</StackLayout>
	<ScrollView row="1">
	    <StackLayout class="p-5 m-t-8">
	        	        
	    	<Label row="0" text="Inicio de sesión" textAlignment="center" fontSize="20" fontWeight="bold"></Label>
	        
	        <Label class="m-t-10  m-l-15 text-left" text="Número de celular"></Label>

	        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15 inputR" hint="Celular" keyboardType="number" autocorrect="false" autocapitalization="none" [(ngModel)]="celular"></TextField>

	    	<Button class="m-t-10 m-b-10 m-l-15 m-r-15 bgOrange" text="Iniciar sesión" fontSize="9" [nsRouterLink]="['/tabs/default']"></Button>	
	    	<!-- <Button class="m-t-10 m-b-10 m-l-15 m-r-15 bgOrange" text="Iniciar sesión" (tap)="onSigninButtonTap()" fontSize="9" tap></Button>	 -->
	    </StackLayout>
	</ScrollView>
	<Button row="2" class="m-t-10 m-b-10 m-l-15 m-r-15 bgOrange" text="salir" (tap)="salir()" fontSize="9" tap></Button>	
</GridLayout>