<TabView androidTabsPosition="bottom">
    <page-router-outlet *tabItem="{title: 'Chats', iconSource: getIconSource('chats')}" name="chatsTab" actionBarVisibility="never" class="tabSelected">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Llamar', iconSource: getIconSource('llamar')}" name="llamarTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Contacto', iconSource: getIconSource('contacto')}" name="contactoTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Configuración', iconSource: getIconSource('config')}" name="configuracionTab" actionBarVisibility="never">
    </page-router-outlet>

<!--     <page-router-outlet *tabItem="{title: 'Players'}" name="playerTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Teams'}" name="teamTab" actionBarVisibility="never">
    </page-router-outlet> -->
</TabView>