<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Registro"></Label>
</ActionBar>

<GridLayout rows="auto,*,auto" class="bg_general">
	<StackLayout row="0" class="gradientBlue" height="75">
		<Image src="~/images/back.png" class="iconBack" (tap)="irAtras()"></Image>				
	</StackLayout>
	<ScrollView row="1">
	    <StackLayout class="p-15 m-t-20">
	        	        
	    	<Label row="0" text="Registro" textAlignment="center" (tap)="onLogout()" fontSize="20" fontWeight="bold"></Label>
	        
	        <Label class="m-t-10  m-l-15 text-left" text="Nombre de usuario"></Label>

	        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15 inputR" hint="Usuario" autocorrect="false" autocapitalization="none" [(ngModel)]="nombre"></TextField>
	        
	        <Label class="m-t-10  m-l-15 text-left" text="Número de celular"></Label>

	        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15 inputR" hint="celular" keyboardType="number" autocorrect="false" autocapitalization="none"
	            [(ngModel)]="celular"></TextField>
	        
			<Label class="m-t-10  m-l-15 text-left" text="Acepto términos y condiciones"></Label>
	    </StackLayout>
	</ScrollView>
	<StackLayout row="2" class="p-15" verticalAlignment="bottom">
	    <Button class="m-t-10 m-b-10 m-l-15 m-r-15 bgOrange" text="Crear cuenta" fontSize="9" (tap)="onSignupButtonTap()"></Button>		
	</StackLayout>
</GridLayout>